* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Bodoni MT Poster Compressed", monospace;

}

body{
    margin: 20px;
    min-height: 100vh;
    background-color: thistle;
}
.main{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}
.data{
    display: flex;
    align-items: center;
    justify-content: center;

}


.data-table {
    padding: 20px;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
}

tr, td {
    border: 1px solid darkgrey;
    padding: 10px;
    text-align: center;
}


th {
    border-width: 1px 1px 0;
    background-color: #f7f7f7;
}

.content {
    margin: 20px;
}

.pagination{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*display: flex;*/
    /*list-style-type: none;*/
}
.pagination-btn{
    /*padding: 20px;*/
    /*margin: 5px;*/
    min-height: 30px;
    min-width: 30px;
    /*border-radius: 10px;*/
    border: 1px solid darkgrey;
    background-color: white;
}

.check, .add-task{
    background-color: brown;
    color: white;
    border: none;
    padding:5px;
}


