input[type="date"] {
    padding: 10px 3px;
    width: 110px;
    border: 1px solid var(--additional-dark);
    outline: none;
    color: var(--text);
    border-radius: 10px;
    transition: 0.3s;
    font-size: 0.9rem;
}

input[type="date"]:focus, input[type="date"]:hover {
    border-color: var(--text);
}

#filter-form {
    background: var(--background);
    width: 350px;
    padding: 2%;
    color: var(--text);
    border-right: 5px solid var(--additional-dark);
}

.container {
    display: flex;
}

.search {
    display: flex;
    align-items: center;
}

#search {
    padding: 7px 10px;
    border: 1px solid var(--additional-dark);
    outline: none;
    color: var(--text);
    background: var(--background);
    border-radius: 10px;
    transition: 0.3s;
    font-size: 0.9rem;
}

#search:focus, #search:hover {
    border-color: var(--text);
}

.checkbox {
    display: flex;
    flex-direction: column;
    padding: 5px;

    div {
        display: flex;
        align-items: center;
        margin-bottom: 5px; /* пространство между строками */
        margin-left: 10px;
    }

    input {
        margin-right: 5px; /* отступ между input и label */
    }
}

.data-table {
    td:nth-child(1), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
        text-align: left;
        padding: 20px 10px;
    }

    td:nth-child(2) {
        text-align: right;
        padding: 20px 10px
    }

    tr.content:hover {
        background-color: var(--additional3-light);
        transition: 0.3s;
        cursor: pointer
    }

    tr.content:focus {
        background-color: var(--additional2-light);
    }
}

#pagination {
    /*margin-top: 20px;*/
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    list-style-type: none;
}

#pagination li {
    text-align: center;
    margin-top: 20px;
    /*margin-right: 5px;*/
    padding: 10px;
    border: 1px solid #8F98AE;
    min-height: 35px;
    min-width: 35px;
}

#pagination li:hover {
    cursor: pointer;
    color: var(--text);
    border: 1px solid var(--text);
    transition: 0.3s;
}

#pagination li.active {
    color: #EDF2F4;
    background-color: var(--text);
    border: 1px solid var(--text);
}

.options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px
}



