.task-table {
    td.operation {
        padding: 0;
        border-right: none;
        border-top: none;
    }

    tr.item:hover {
        background-color: var(--additional3-light);
        transition: 0.3s;
        cursor: pointer
    }

    tr.item:focus {
        background-color: var(--additional2-light);
    }

    .additional-operation {
        margin: 0;
        table-layout: fixed;
        padding: 0;
        box-shadow: none;
        border-collapse: collapse;
        border-radius: 0;

        td:first-child {
            border-left: none;
            border-bottom: none;
            border-top: none;
        }

        td:nth-child(3) {
            text-align: left;
            padding: 10px 5px;
        }

        td:nth-child(2), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
            text-align: right;
            padding: 10px 5px;
        }
    }
}